.container-detail{
    min-height: calc(100vh - 48px);
}

.btn-addToCart{
    display: none;
}

@media (min-width: 768px) {
    .btn-flying{
        display: none;
    }
    .btn-addToCart{
        display: block;
    }
}