.card-product {
  cursor: pointer;
  width: 100%;
  flex: auto;
}

.card-product:hover {
  background-color: aliceblue;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.text{
  color: black;
}
